{{ define "content" }}
<div class="row products">
	<div class="columns small-12">
		<div class="row">
			<div class="columns small-12">
				<ul class="row products small-block-grid-4">
					{{ range .Products }}
					<div class="product">
						<img src="/img/{{ .ImageURL}}" alt="{{.ImageURL}}" />
						<a href="/shop_detail">
							<h3>{{ .Name}}</h3>
						</a>
						<p>
							{{.DescriptionShort}}
						</p>
						<p>
							${{.PricePerLiter | printf "%.2f" }} / liter
						</p>
					</div>
					{{end}}
				</ul>
			</div>
		</div>
	</div>
</div>
{{ end }}